ws-axis2-client/resources/META-INF/NotaFiscalWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://br.com.oobj/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://br.com.oobj/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://br.com.oobj/">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://br.com.oobj/xsd">
            <xs:element name="imprimirNotaDaEmpresa">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="imprimirNotaDaEmpresaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consomeXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nfeEmXML" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="consomeXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consomeXMLRequest">
        <wsdl:part name="parameters" element="ns:consomeXML"/>
    </wsdl:message>
    <wsdl:message name="consomeXMLResponse">
        <wsdl:part name="parameters" element="ns:consomeXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="imprimirNotaDaEmpresaRequest">
        <wsdl:part name="parameters" element="ns:imprimirNotaDaEmpresa"/>
    </wsdl:message>
    <wsdl:message name="imprimirNotaDaEmpresaResponse">
        <wsdl:part name="parameters" element="ns:imprimirNotaDaEmpresaResponse"/>
    </wsdl:message>
    <wsdl:portType name="NotaFiscalWSPortType">
        <wsdl:operation name="consomeXML">
            <wsdl:input message="tns:consomeXMLRequest" wsaw:Action="urn:consomeXML"/>
            <wsdl:output message="tns:consomeXMLResponse" wsaw:Action="urn:consomeXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="imprimirNotaDaEmpresa">
            <wsdl:input message="tns:imprimirNotaDaEmpresaRequest" wsaw:Action="urn:imprimirNotaDaEmpresa"/>
            <wsdl:output message="tns:imprimirNotaDaEmpresaResponse" wsaw:Action="urn:imprimirNotaDaEmpresaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NotaFiscalWSSoap11Binding" type="tns:NotaFiscalWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consomeXML">
            <soap:operation soapAction="urn:consomeXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imprimirNotaDaEmpresa">
            <soap:operation soapAction="urn:imprimirNotaDaEmpresa" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NotaFiscalWSSoap12Binding" type="tns:NotaFiscalWSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="consomeXML">
            <soap12:operation soapAction="urn:consomeXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imprimirNotaDaEmpresa">
            <soap12:operation soapAction="urn:imprimirNotaDaEmpresa" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NotaFiscalWSHttpBinding" type="tns:NotaFiscalWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="consomeXML">
            <http:operation location="consomeXML"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="imprimirNotaDaEmpresa">
            <http:operation location="imprimirNotaDaEmpresa"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="NotaFiscalWS">
        <wsdl:port name="NotaFiscalWSHttpSoap11Endpoint" binding="tns:NotaFiscalWSSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/NotaFiscalWS"/>
        </wsdl:port>
        <wsdl:port name="NotaFiscalWSHttpSoap12Endpoint" binding="tns:NotaFiscalWSSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/NotaFiscalWS"/>
        </wsdl:port>
        <wsdl:port name="NotaFiscalWSHttpEndpoint" binding="tns:NotaFiscalWSHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/NotaFiscalWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
